@model AutNutriYA.Dieta

@{
    ViewData["Title"] = "Crear Dieta";
    PlatillosRepo repo= new PlatillosRepo();
    List<Platillo> Platillos = repo.LeerPlatillo();
    System.Threading.Thread.Sleep(800);
    List<Platillo> Desayunos  = new List<Platillo>();
    List<Platillo> Comidas    = new List<Platillo>();
    List<Platillo> Cenas      = new List<Platillo>();
    List<Platillo> Colaciones = new List<Platillo>();
    List<Platillo> Bebidas    = new List<Platillo>();
    int i=0;
    string aux;
    foreach (var item in Platillos)
    {
        i=i+1;
        aux=i.ToString();
        if (item.tipo=="Desayuno"){
            Desayunos.Add(item);
        }else if (item.tipo=="Comida"){
            Comidas.Add(item);
        }else if (item.tipo=="Cena"){
            Cenas.Add(item);
        }else if (item.tipo=="Colacion"){
            Colaciones.Add(item);
        }else if (item.tipo=="Bebida"){
            Bebidas.Add(item);
        }else{
            Desayunos.Add(item);
            Comidas.Add(item);
            Cenas.Add(item);
        }
    }

    /*li.Add(new SelectListItem(){Text="Saria", Value = "10"});
    li.Add(new SelectListItem(){Text="Darunia", Value = "20"});
    li.Add(new SelectListItem(){Text="Ruto", Value = "30"});
    li.Add(new SelectListItem(){Text="Malon", Value = "40"});*/
}

<h2>Crear dieta de @ViewData["Correo"]</h2>

<h4>Dieta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" value="@ViewData["Correo"]" readonly/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dia" class="control-label"></label><br>
                <select class="form-control" asp-for="Dia">
                    <option class="form-control" value="Dia 1 Lunes">Lunes</option>
                    <option class="form-control" value="Dia 2 Martes">Martes</option>
                    <option class="form-control" value="Dia 3 Miercoles">Miercoles</option>
                    <option class="form-control" value="Dia 4 Jueves">Jueves</option>
                    <option class="form-control" value="Dia 5 Viernes">Viernes</option>
                    <option class="form-control" value="Dia 6 Sabado">Sabado</option>
                    <option class="form-control" value="Dia 7 Domingo">Domingo</option>
                </select>
                <!--<input asp-for="Dia" class="form-control" />-->
                <span asp-validation-for="Dia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desayuno" class="control-label"></label><br>
                <select class="form-control" asp-for="Desayuno">
                    <option value="" disabled selected hidden>Seleccione el Desayuno</option>
                @foreach (var item in Desayunos){
                    <option class="form-control" value="@item.platillo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="Desayuno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bebida1" class="control-label">Bebida Desayuno</label><br>
                <select class="form-control" asp-for="Bebida1">
                    <option value="" disabled selected hidden>Seleccione una Bebida</option>
                @foreach (var item in Bebidas){
                    <option class="form-control" value="@item.platillo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="Bebida1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColacionM" class="control-label">Colacion Mañana</label><br>
                <select class="form-control" asp-for="ColacionM">
                    <option value="" disabled selected hidden>Seleccione una Colacion</option>
                @foreach (var item in Colaciones){
                    <option class="form-control" value="@item.platillo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="ColacionM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comida" class="control-label"></label><br>
                <select class="form-control" asp-for="Comida">
                    <option value="" disabled selected hidden>Seleccione la Comida</option>
                @foreach (var item in Comidas){
                    <option class="form-control" value="@item.platillo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="Comida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bebida2" class="control-label">Bebida Comida</label><br>
                <select class="form-control" asp-for="Bebida2">
                    <option value="" disabled selected hidden>Seleccione una Bebida</option>
                @foreach (var item in Bebidas){
                    <option class="form-control" value="@item.platillo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="Bebida2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColacionT" class="control-label">Colacion Tarde</label><br>
                <select class="form-control" asp-for="ColacionT">
                <option value="" disabled selected hidden>Seleccione una Colacion</option>
                @foreach (var item in Colaciones){
                    <option class="form-control" value="@item.platillo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="ColacionT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cena" class="control-label"></label><br>
                <select class="form-control" asp-for="Cena">
                    <option value="" disabled selected hidden>Seleccione la Cena</option>
                @foreach (var item in Cenas){
                    <option class="form-control" value="@item.platillo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bebida3" class="control-label">Bebida Cena</label><br>
                <select class="form-control" asp-for="Bebida3">
                    <option value="" disabled selected hidden>Seleccione una Bebida</option>
                @foreach (var item in Bebidas){
                    <option class="form-control" value="@item.platillo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="Bebida3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="Index?correo=@ViewData["Correo"]">Volver a la dieta del Paciente</a>
</div>

