@model AutNutriYA.Dieta

@{
    ViewData["Title"] = "Crear Dieta";
    PlatillosRepo repo        = new PlatillosRepo();
    PacientesRepository alergias = new PacientesRepository();
    List<Platillo> Platillos  = repo.LeerPlatillo().Result;
    System.Threading.Thread.Sleep(1000);
    Paciente Paciente  = alergias.LeerPaciente(ViewBag.Correo);
    System.Threading.Thread.Sleep(1000);
    List<Platillo> Desayunos  = new List<Platillo>();
    List<Platillo> Comidas    = new List<Platillo>();
    List<Platillo> Cenas      = new List<Platillo>();
    List<Platillo> Colaciones = new List<Platillo>();
    List<Platillo> Bebidas    = new List<Platillo>();
    //int i=0;
    bool alergia=false;
    //string aux;
    string[] alr = Paciente.Alergias.Split(';');
    foreach (var item in Platillos)
    {
        //i=i+1;
        //aux=i.ToString();
        string[] ing = item.ingredientes.Split(','); 
        foreach (var a in alr)
        {
            if(ing.Contains(a)){
                alergia=true;
                break;
            }
        }
        if (alergia)
        {
            alergia = false;
            continue;
        }
        else if (item.tipo=="Desayuno"){
            Desayunos.Add(item);
        }else if (item.tipo=="Comida"){
            Comidas.Add(item);
        }else if (item.tipo=="Cena"){
            Cenas.Add(item);
        }else if (item.tipo=="Colacion"){
            Colaciones.Add(item);
        }else if (item.tipo=="Bebida"){
            Bebidas.Add(item);
        }else{
            Desayunos.Add(item);
            Comidas.Add(item);
            Cenas.Add(item);
        }
    }

    /*li.Add(new SelectListItem(){Text="Saria", Value = "10"});
    li.Add(new SelectListItem(){Text="Darunia", Value = "20"});
    li.Add(new SelectListItem(){Text="Ruto", Value = "30"});
    li.Add(new SelectListItem(){Text="Malon", Value = "40"});*/
}

<h2>Crear dieta de @ViewData["Correo"]</h2>

<h4>Dieta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" value="@ViewData["Correo"]" readonly/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dia" class="control-label"></label><br>
                <select class="form-control" asp-for="Dia">
                    <option class="form-control" value="Dia 1 Lunes">Lunes</option>
                    <option class="form-control" value="Dia 2 Martes">Martes</option>
                    <option class="form-control" value="Dia 3 Miercoles">Miercoles</option>
                    <option class="form-control" value="Dia 4 Jueves">Jueves</option>
                    <option class="form-control" value="Dia 5 Viernes">Viernes</option>
                    <option class="form-control" value="Dia 6 Sabado">Sabado</option>
                    <option class="form-control" value="Dia 7 Domingo">Domingo</option>
                </select>
                <!--<input asp-for="Dia" class="form-control" />-->
                <span asp-validation-for="Dia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desayuno_A" class="control-label">Desayuno Alt</label>
                <select class="form-control" asp-for="Desayuno_A">
                    <option value="" disabled selected hidden>Seleccione el Desayuno Alt</option>
                @foreach (var item in Desayunos){
                    <option class="form-control" value="@item.platillo" aria-placeholder="Seleccione un Dasayuno Alternativo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="Desayuno_A" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bebida1" class="control-label">Bebida Desayuno</label>
                <select class="form-control" asp-for="Bebida1">
                    <option value="" disabled selected hidden>Seleccione una Bebida</option>
                @foreach (var item in Bebidas){
                    <option class="form-control" value="@item.platillo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="Bebida1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bebida1_A" class="control-label">Bebida Desayuno Alt</label>
                <select class="form-control" asp-for="Bebida1_A">
                    <option value="" disabled selected hidden>Seleccione una Bebida Alt</option>
                @foreach (var item in Bebidas){
                    <option class="form-control" value="@item.platillo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="Bebida1_A" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColacionM" class="control-label">Colacion Mañana</label>
                <select class="form-control" asp-for="ColacionM">
                    <option value="" disabled selected hidden>Seleccione una Colacion</option>
                @foreach (var item in Colaciones){
                    <option class="form-control" value="@item.platillo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="ColacionM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColacionM_A" class="control-label">Colacion Mañana Alt</label>
                <select class="form-control" asp-for="ColacionM_A">
                    <option value="" disabled selected hidden>Seleccione una Colacion Alt</option>
                @foreach (var item in Colaciones){
                    <option class="form-control" value="@item.platillo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="ColacionM_A" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comida" class="control-label"></label>
                <select class="form-control" asp-for="Comida">
                    <option value="" disabled selected hidden>Seleccione la Comida</option>
                @foreach (var item in Comidas){
                    <option class="form-control" value="@item.platillo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="Comida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comida_A" class="control-label">Comida Alt</label>
                <select class="form-control" asp-for="Comida_A">
                    <option value="" disabled selected hidden>Seleccione la Comida Alt</option>
                @foreach (var item in Comidas){
                    <option class="form-control" value="@item.platillo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="Comida_A" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bebida2" class="control-label">Bebida Comida</label>
                <select class="form-control" asp-for="Bebida2">
                    <option value="" disabled selected hidden>Seleccione una Bebida</option>
                @foreach (var item in Bebidas){
                    <option class="form-control" value="@item.platillo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="Bebida2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bebida2_A" class="control-label">Bebida Comida Alt</label>
                <select class="form-control" asp-for="Bebida2_A">
                    <option value="" disabled selected hidden>Seleccione una Bebida Alt</option>
                @foreach (var item in Bebidas){
                    <option class="form-control" value="@item.platillo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="Bebida2_A" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColacionT" class="control-label">Colacion Tarde</label>
                <select class="form-control" asp-for="ColacionT">
                    <option value="" disabled selected hidden>Seleccione una Colacion</option>
                @foreach (var item in Colaciones){
                    <option class="form-control" value="@item.platillo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="ColacionT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColacionT_A" class="control-label">Colacion Tarde Alt</label>
                <select class="form-control" asp-for="ColacionT_A">
                    <option value="" disabled selected hidden>Seleccione una Colacion</option>
                @foreach (var item in Colaciones){
                    <option class="form-control" value="@item.platillo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="ColacionT_A" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cena" class="control-label"></label>
                <select class="form-control" asp-for="Cena">
                    <option value="" disabled selected hidden>Seleccione la Cena</option>
                @foreach (var item in Cenas){
                    <option class="form-control" value="@item.platillo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cena_A" class="control-label">Cena Alt</label>
                <select class="form-control" asp-for="Cena_A">
                    <option value="" disabled selected hidden>Seleccione la Cena Alt</option>
                @foreach (var item in Cenas){
                    <option class="form-control" value="@item.platillo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="Cena_A" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bebida3" class="control-label">Bebida Cena</label>
                <select class="form-control" asp-for="Bebida3">
                    <option value="" disabled selected hidden>Seleccione una Bebida</option>
                @foreach (var item in Bebidas){
                    <option class="form-control" value="@item.platillo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="Bebida3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bebida3_A" class="control-label">Bebida Cena Alt</label>
                <select class="form-control" asp-for="Bebida3_A">
                    <option value="" disabled selected hidden>Seleccione una Bebida Alt</option>
                @foreach (var item in Bebidas){
                    <option class="form-control" value="@item.platillo">
                        @Html.DisplayName(item.platillo)
                    </option>
                }
                </select>
                <span asp-validation-for="Bebida3_A" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="Index?correo=@ViewData["Correo"]">Volver a la dieta del Paciente</a>
</div>

