@model AutNutriYA.Dieta

@{
    ViewData["Title"] = "Borrar";
}

<h2>Borrar</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input type = "hidden" name = "Nombre" value = "@Model.Nombre"/>
                @Html.DisplayFor(model => model.Nombre)
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dia" class="control-label"></label>
                <input type = "hidden" name = "Dia" value = "@Model.Dia"/>
                @Html.DisplayFor(model => model.Dia)
                <span asp-validation-for="Dia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desayuno" class="control-label"></label>
                <input type = "hidden" name = "Desayuno" value = "@Model.Desayuno"/>
                @Html.DisplayFor(model => model.Desayuno)
                <span asp-validation-for="Desayuno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColacionM" class="control-label"></label>
                <input type = "hidden" name = "Colacion de la Mañana" value = "@Model.ColacionM"/>
                @Html.DisplayFor(model => model.ColacionM)
                <span asp-validation-for="ColacionM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comida" class="control-label"></label>
                <input type = "hidden" name = "Comida" value = "@Model.Comida"/>
                @Html.DisplayFor(model => model.Comida)
                <span asp-validation-for="Comida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColacionT" class="control-label"></label>
                <input type = "hidden" name = "Colacion de la Tarde" value = "@Model.ColacionT"/>
                @Html.DisplayFor(model => model.ColacionT)
                <span asp-validation-for="ColacionT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cena" class="control-label"></label>
                <input type = "hidden" name = "Cena" value = "@Model.Cena"/>
                @Html.DisplayFor(model => model.Cena)
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bebida1" class="control-label"></label>
                <input type = "hidden" name = "Bebida1" value = "@Model.Bebida1"/>
                @Html.DisplayFor(model => model.Bebida1)
                <span asp-validation-for="Bebida1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bebida2" class="control-label"></label>
                <input type = "hidden" name = "Bebida2" value = "@Model.Bebida2"/>
                @Html.DisplayFor(model => model.Bebida2)
                <span asp-validation-for="Bebida2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Borrar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="Index?correo=@Model.Nombre"">Volver a la dieta del Paciente</a>
</div>