@model AutNutriYA.Dieta

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Dieta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Desayuno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Desayuno)
        </dd>
        <dt>
            Desayuno Alternativo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Desayuno_A)
        </dd>
        <dt>
            Bebida del Desayuno
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bebida1)
        </dd>
        <dt>
            Bebida del Desayuno Alternativa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bebida1_A)
        </dd>
        <dt>
            Colacion de la Mañana
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ColacionM)
        </dd>
        <dt>
            Colacion de la Mañana Alternativa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ColacionM_A)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comida)
        </dd>
        <dt>
            Comida Alternativa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comida_A)
        </dd>
        <dt>
            Bebida de la Comida
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bebida2)
        </dd>
        <dt>
            Bebida de la Comida Alternativa 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bebida2_A)
        </dd>
        <dt>
            Colacion de laTarde
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ColacionT)
        </dd>
        <dt>
            Colacion de la Tarde Alternativa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ColacionT_A)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>
        <dt>
            Cena Alternativa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cena_A)
        </dd>
        <dt>
            Bebida de la Cena
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bebida3)
        </dd>
        <dt>
            Bebida de la Cena Alternativa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bebida3_A)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { PK = Model.Nombre, RK = Model.Dia }) |
    <a href="Index?correo=@Model.Nombre">Volver a la dieta del Paciente</a>
</div>