@model AutNutriYA.Dieta

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Dieta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Desayuno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Desayuno)
        </dd>
        <dt>
            Bebida Desayuno
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bebida1)
        </dd>
        <dt>
            Colacion Mañana
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ColacionM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comida)
        </dd>
        <dt>
            Bebida Comida
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bebida2)
        </dd>
        <dt>
            Colacion Tarde
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ColacionT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>
        <dt>
            Bebida Cena
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bebida3)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { PK = Model.Nombre, RK = Model.Dia }) |
    <a href="Index?correo=@Model.Nombre">Volver a la dieta del Paciente</a>
</div>