@model IEnumerable<AutNutriYA.Dieta>

@{
    ViewData["Title"] = "Index";
}
<h2>Dieta de @ViewData["Correo"]</h2> 

<p>
     @Html.ActionLink("Crear Dieta", "Create", new { correo=ViewData["Correo"] })
     <!--<a href="\Create?correo=@ViewData["Correo"]">Crear Dieta</a>-->
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desayuno)
            </th>
            <th>
                Bebida Desayuno
            </th>
            <th>
                Colacion Mañana
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comida)
            </th>
            <th>
                Bebida Comida
            </th>
            <th>
                Colacion Tarde
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th>
                Bebida Cena
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
               @Html.DisplayFor(modelItem => item.Dia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desayuno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bebida1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColacionM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bebida2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColacionT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bebida3)
            </td>
            <td>
                <a href="/Dietas/Edit?PK=@item.Nombre&RK=@item.Dia"><img src="~/images/Editar.png" width="20" height="20"></a>|
                <a href="/Dietas/Details?PK=@item.Nombre&RK=@item.Dia"><img src="~/images/Detalles.png" width="20" height="20"></a>|
                <a href="/Dietas/Delete?PK=@item.Nombre&RK=@item.Dia"><img src="~/images/Borrar.png" width="20" height="20"></a>
               <!-- @Html.ActionLink("Edit", "Edit", new { PK=item.Nombre, RK=item.Dia }) |
                @Html.ActionLink("Details", "Details", new { PK=item.Nombre, RK=item.Dia }) |
                @Html.ActionLink("Delete", "Delete", new { PK=item.Nombre, RK=item.Dia })-->
            </td>
        </tr>
}
    </tbody>
    
</table>
<a href="/Pacientes">Volver a Mis Pacientes</a>
