@model AutNutriYA.Ingrediente

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ingrediente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { PK = Model.Tipo, RK = Model.Nombre }) |
    <a asp-action="Index">Back to List</a>
</div>
