@model IEnumerable<AutNutriYA.Ingrediente>

@{
    ViewData["Title"] = "Ingredientes";
}

<h2>Ingredientes</h2>

<p>
    <a asp-action="Create">Añadir Ingrediente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a href="/Ingredientes/Edit?PK=@item.Tipo&RK=@item.Nombre"><img src="~/images/Editar.png" width="20" height="20"></a>|
                
                <a href="/Ingredientes/Details?PK=@item.Tipo&RK=@item.Nombre"><img src="~/images/Detalles.png" width="20" height="20"></a>|
                
                <a href="/Ingredientes/Delete?PK=@item.Tipo&RK=@item.Nombre"><img src="~/images/Borrar.png" width="20" height="20"></a>
                
                <!--@Html.ActionLink("Edit", "Edit", new { PK = item.Tipo, RK = item.Nombre }) |
                @Html.ActionLink("Details", "Details", new { PK = item.Tipo, RK = item.Nombre }) |
                @Html.ActionLink("Delete", "Delete", new { PK = item.Tipo, RK = item.Nombre })-->
            </td>
        </tr>
}
    </tbody>
</table>
