@model AutNutriYA.Platillo

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Platillo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tipo<!--@Html.DisplayNameFor(model => model.tipo)-->
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>
        <dt>
            Platillo<!--@Html.DisplayNameFor(model => model.platillo)-->
        </dt>
        <dd>
            @Html.DisplayFor(model => model.platillo)
        </dd>
        <dt>
            Ingredientes<!--@Html.DisplayNameFor(model => model.ingredientes)-->
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ingredientes)
        </dd>
        <dt>
            Calorias<!--@Html.DisplayNameFor(model => model.calorias)-->
        </dt>
        <dd>
            @Html.DisplayFor(model => model.calorias)
        </dd>
        <dt>
            Porcion<!--@Html.DisplayNameFor(model => model.porcion)-->
        </dt>
        <dd>
            @Html.DisplayFor(model => model.porcion)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { PK = Model.tipo, RK = Model.platillo }) |
    <a asp-action="Index">Volver a Platillos</a>
</div>
