@model IEnumerable<AutNutriYA.Platillo>

@{
    ViewData["Title"] = "Platillos";
}

<h2>Platillos</h2>

<p>
    <a asp-action="Create">Nuevo Platillo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.platillo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ingredientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.calorias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.porcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.platillo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ingredientes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.calorias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.porcion)
            </td>
            <td>
               
                <a href="Platillos/Edit?PK=@item.tipo&RK=@item.platillo"><img src="~/images/Editar.png" width="25" height="25"></a> |
                <a href="Platillos/Details?PK=@item.tipo&RK=@item.platillo"><img src="~/images/Detalles.png" width="25" height="25"></a> |
                <a href="Platillos/Delete?PK=@item.tipo&RK=@item.platillo"><img src="~/images/Borrar.png" width="25" height="25"></a>

                <!--@Html.ActionLink("Edit", "Edit", new { PK = item.tipo, RK = item.platillo }) |
                @Html.ActionLink("Details", "Details", new { PK = item.tipo, RK = item.platillo }) |
                @Html.ActionLink("Delete", "Delete", new { PK = item.tipo, RK = item.platillo })-->
            </td>
        </tr>
}
    </tbody>
</table>
