@model AutNutriYA.Recordatorio

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Recordatorio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.platilloDesayuno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.platilloDesayuno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.porcionDes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.porcionDes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.platilloComida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.platilloComida)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.porcionCom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.porcionCom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.platilloCena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.platilloCena)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.porcionCena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.porcionCena)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.comentario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.comentario)
        </dd>
    </dl>
</div>
<div>
    <a href="\Dietas?correo=@Model.Nombre">Volver a Dietas</a>
</div>
