@model AutNutriYA.Nutriologo

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Nutriologo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <!--<dt>
            @Html.DisplayNameFor(model => model.Pacientes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pacientes)
        </dd>-->
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new { correo=Model.Correo , nombre=Model.Nombre }) |
    <a asp-action="Index">Volver a Nutriologos</a>
</div>
