@model IEnumerable<AutNutriYA.Nutriologo>

@{
    ViewData["Title"] = "Nutriologos";
}

<h2>Nutriologos</h2>

<p>
    <a asp-action="Create">Nuevo Nutriologo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                <a href="Nutriologos/Edit?correo=@item.Correo&nombre=@item.Nombre"><img src="~/images/Editar.png" width="20" height="20"></a>
               <!--@Html.ActionLink("culo", "Edit", new { correo=item.Correo , nombre=item.Nombre }) -->|
                <a href="Nutriologos/Details?correo=@item.Correo&nombre=@item.Nombre"><img src="~/images/Detalles.png" width="20" height="20"></a>
               <!--@Html.ActionLink("Details", "Details", new { correo=item.Correo , nombre=item.Nombre }) -->|
               <a href="Nutriologos/Delete?correo=@item.Correo&nombre=@item.Nombre"><img src="~/images/Borrar.png" width="20" height="20"></a>
               <!--@Html.ActionLink("Delete", "Delete", new { correo=item.Correo , nombre=item.Nombre }) -->
            </td>
        </tr>
}
    </tbody>
</table>
