@model AutNutriYA.Paciente

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h4>Nutriologo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreNut" class="control-label"></label>
                <input type = "hidden" name = "NombreNut" value = "@Model.NombreNut"/>
                @Html.DisplayFor(model => model.NombreNut)
                <span asp-validation-for="NombreNut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input type = "hidden" name = "Correo" value = "@Model.Correo"/>
                @Html.DisplayFor(model => model.Correo)
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombrePac" class="control-label"></label>
                <input type = "hidden" name = "NombrePac" value = "@Model.NombrePac"/>
                @Html.DisplayFor(model => model.NombrePac)
                <span asp-validation-for="NombrePac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input type = "hidden" name = "Edad" value = "@Model.Edad"/>
                @Html.DisplayFor(model => model.Edad)
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Altura" class="control-label"></label>
                <input type = "hidden" name = "Altura" value = "@Model.Altura"/>
                @Html.DisplayFor(model => model.Altura)
                <span asp-validation-for="Altura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input type = "hidden" name = "Peso" value = "@Model.Peso"/>
                @Html.DisplayFor(model => model.Peso)
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorreoNut" class="control-label"></label>
                <input type = "hidden" name = "CorreoNut" value = "@Model.CorreoNut"/>
                @Html.DisplayFor(model => model.CorreoNut)
                <span asp-validation-for="CorreoNut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>