@model IEnumerable<AutNutriYA.Paciente>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreNut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Altura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IMC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoNut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreNut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Altura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IMC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoNut)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { PK = item.NombreNut, RK = item.Correo }) |
                @Html.ActionLink("Details", "Details", new { PK = item.NombreNut, RK = item.Correo }) |
                @Html.ActionLink("Delete", "Delete", new { PK = item.NombreNut, RK = item.Correo })
            </td>
        </tr>
}
    </tbody>
</table>
