@model IEnumerable<AutNutriYA.Paciente>

@{
    ViewData["Title"] = "Pacientes";
}

<h2>Mis Paciente</h2>

<p>
    <a asp-action="Create">Nuevo Paciente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <!--<th>
                @Html.DisplayNameFor(model => model.NombreNut)
            </th> -->
            <th>
                Paciente <!--@Html.DisplayNameFor(model => model.NombrePac)-->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Altura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IMC)
            </th>
            <!--<th>
                @Html.DisplayNameFor(model => model.CorreoNut)
            </th> -->
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           <!-- <td>
                @Html.DisplayFor(modelItem => item.NombreNut)
            </td> -->
            <td>
                @Html.DisplayFor(modelItem => item.NombrePac)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Altura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IMC)
            </td>
            <!--<td>
                @Html.DisplayFor(modelItem => item.CorreoNut)
            </td>  -->
            <td>
                 
                
                
                <!--@Html.ActionLink("culo", "Edit", new { correo=item.Correo , nombre=item.NombreNut }) -->
                <a href="Dietas/Index?correo=@item.Correo"><img title="Dieta" src="~/images/Dieta.png" width="25" height="25"></a> |
                <a href="Pacientes/Edit?PK=@item.NombreNut&RK=@item.Correo"><img title="Editar" src="~/images/Editar.png" width="25" height="25"></a> |
                <!--@Html.ActionLink("Details", "Details", new { correo=item.Correo , nombre=item.NombreNut }) -->
                <a href="Pacientes/Details?PK=@item.NombreNut&RK=@item.Correo"><img title="Detalles" src="~/images/Detalles.png" width="25" height="25"></a> |
                <!--@Html.ActionLink("Delete", "Delete", new { correo=item.Correo , nombre=item.NombreNut }) -->
                <a href="Pacientes/Delete?PK=@item.NombreNut&RK=@item.Correo"><img title="Borrar" src="~/images/Borrar.png" width="25" height="25"></a>
                
               
            </td>
        </tr>
}
    </tbody>
</table>
